@model Gilbert.Models.USR_User
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Login</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page">
    <div class="container">

        <div class="portfolio-details">

            <div class="col-lg-4 mx-auto">
                <div class="portfolio-info">
                    <h3>Login</h3>

                    @using (Html.BeginForm("Login", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                <div class="row">

                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })                            
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-2">

                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                        @if (!String.IsNullOrEmpty(ViewBag.Redirect))
                        {
                            <input type="hidden" value="@ViewBag.Redirect" id="redirect" name="redirect" />
                        }

                        <div class="form-group mt-4">
                            <input type="submit" name="submit" class="btn btn-primary button-custom w-100" value="Login" />
                        </div>
                    </div>
                            }
                        </div>
                    </div>
                </div>
</section>