@model Gilbert.Models.JobsPostulate

@if (Model.uSR_User != null)
{
    <div>
        @Model.uSR_User.UserName
        @Model.uSR_User.Email
    </div>

}


Compañia: @Model.cR_AD_Header.CR_User.CR_Company.CompanyName

[StartDate] : @Model.cR_AD_Header.StartDate
[FinishDate] : @Model.cR_AD_Header.FinishDate
[SDescrip] : @Model.cR_AD_Header.SDescrip
[LDescrip] : @Model.cR_AD_Header.LDescrip



@foreach (Gilbert.Models.CR_AD_Detail Detail in Model.cR_AD_Header.CR_AD_Detail)
{

<div>
    @{
        var position = Model.uSR_CV_Header.USER_CV_WorkExperience.Where(x => x.IDPosition == Detail.IDPosition).FirstOrDefault();
    }
    @if(position != null)
    {
        <b>SI</b>
    }
    "[IDPosition] :" + @Detail.MD_Position.LDescrip
    "[MinAge] : " + @Detail.MinAge
    "[MaxAge] : " + @Detail.MaxAge
    "[IDEducation] : " + @Detail.MD_EducationRequired.LDescrip
    "[IDExperience] : " + @Detail.MD_ExperienceRequired.LDescrip
    "[Qty] : " + @Detail.Qty
    "[PositionDescript] : " + @Detail.PositionDescript
    "[TaskDescrip] : " + @Detail.TaskDescrip
    <button>Postularme</button>
</div>


}


