@model IEnumerable<Gilbert.Models.vw_CR_HeaderPostulate>

@{
    ViewBag.Title = "Index";
}

<section class="mt-5">
    <div class="container">

        <div class="section-title">
            <h2>Listado puestos de trabajo</h2>                        
        </div>

        <div class="float-end mb-2">
            @Html.ActionLink("Create New", "Create", null, new { @class = "link-custom" })
        </div>
            
            
        
        <table class="table">
            <tr>                
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SDescrip)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LDescrip)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.IDStatus)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Postulantes)                    
                </th>
                
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDescrip)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LDescrip)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.IDStatus)
                    </td>                                        
                    <td>
                        @Html.DisplayFor(modelItem => item.Postulantes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }) |*@
                        @Html.ActionLink("Download QR", "Download", new { id = item.ID })
                    </td>
                    @{var qr = "/Images/QR/" + item.Unique_ID + ".png"; }
                    <td><img src=@qr width="50" /></td>
                </tr>
            }

        </table>
    </div>
</section>